
h1{
  color: rgb(42, 168, 168);
  font-family: "Trebuchet MS", Verdana, sans-serif;
}

#texto1{
  color: rgb(235, 30, 235);
  font-size: 25px;
}



.texto1{
  color: rgb(240, 45, 87);
  font-size: 20px;
}




p[name^="mi"]{
  color: rgb(36, 114, 53);
  font-size: 30px;
}
p[name$="mi"]{
  color: rgb(75, 22, 110);
  font-size: 40px;
}
p[name="mi"]{
  color: rgb(233, 121, 17);
  font-size: 40px;
}



p:nth-child(4) {
  background: rgb(76, 213, 255);
}

p:nth-child(1) {
  background: rgb(255, 255, 255);
}



